Django
ftfy
-e git+git@github.com:newsdev/nyt-clerk.git#egg=nyt-clerk
-e git+git@github.com:newsdev/nyt-docket.git#egg=nyt-docket
psycopg2
python-dateutil
pytz
requests
smartypants==1.8.6
fabric3
ujson
